.products-section {
  margin-top: 150px;
}

.product-filter-section {
margin-left: 3vw;
}

.card-container {
  margin-top: 30px;
  height: 550px;
  width: 290px;
}

.card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 300;
}

.card-title {
  display: flex;
  text-align: left;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  margin-bottom: -1rem,
}

.card-reviews {
  margin-top: -1rem;

}

.card-title:hover {
  color: #E67A00;
}

.card-price {
  font-size: 28px;
  font-weight: 10px;
  color: #0F1111;
  text-align: left;
  height: 30%;
}

.product-details-button {
  background-color: #FCD200 !important;
  border-color: #FCD200 !important;
  color: #0F1111 !important;
  font-size: 13px !important;
  justify-self: baseline !important;
  align-content: flex-end !important;
  align-items: flex-end !important;
}

.card-regular-price {
  font-size: 14px;
  color: #777;
  text-decoration: line-through;
}

.card-sale-price {
  font-size: 28px;
  font-weight: 15px;
  color: #B12704;
  margin-bottom: -1rem;
}

.card-sale-discount {
  font-size: 14px;
  color: #B12704;
  margin-left: 0.5rem;
}

.bestseller-badge {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  background-color: #E67A00!important;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  height: 25px;
}

.bestseller-badge::before {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 25px solid #E67A00;
  border-right: 10px solid transparent;
}

.card-delivery-date {
  font-size: 14px;
}

.product-filter-review {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}