.product-container {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.product-details {
  padding-bottom: 20px;
}

.product-rating {
  text-align: left;
  left: 0;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.add-to-cart-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 2rem;;
}

.product-regular-price {
  font-size: 1rem;
  color: #777;
  text-decoration: line-through;
}

.product-sale-price {
  font-size: 1.5rem;
  font-weight: 15px;
  color: #B12704;
}

.product-sale-discount {
  font-size: 1rem;
  color: #B12704;
}

.product-price {
  font-size: 24px;
  font-weight: medium;
  color: #0f1111;
}

.about-item {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}

.product-text {
  font-size: 0.9rem;
}

.progress-bar-review {
  border: 1px solid #ccc;
}

.product-reviews-container {
  border-top: 1px solid #ccc;
display: flex;
justify-content: space-between;
}

.verified-purchase {
  color:#c45500;
  font-size: 0.7rem;
  font-weight: bold;
}

.review-container {
  margin-bottom: 2rem;
}

.review-date {
  color: #565959
}

.dropdown-item {
  background-color: transparent !important;
}

.add-to-cart-button {
  background-color: #FFD814 !important;
  border-radius: 150px;
  color: #0F1111 !important;
  font-size: 0.8rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 500;
}

.add-to-cart-button:hover {
  background-color: #FCD200 !important;
}

.edit-review-button, .delete-review-button {
  border: 1px solid #ccc;
  color: #0F1111 !important;
  font-size: 0.8rem !important;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}