.card-container {
  margin-top: 30px
}

.card-image {
  object-fit: cover
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300;
}

.card-title {
  display: flex;
  text-align: left;
  font-size: 16px,
}

.card-price {
  font-size: 24px;
  font-weight: medium;
  color: #0F1111,
}

.card-button {
  background-color: #FCD200 !important;
  border-color: #FCD200 !important;
  color: #0F1111 !important;
  font-size: 13px !important
}