.inventory-table, .orders-table {
  font-size: 0.85rem !important;
  background-color: #fff;
}

.add-product-form {
 font-size: 0.85rem !important;
 width: 30%;
 margin: auto;
}

.add-product-form-group {
  margin-bottom: 1rem;
}

.inventory-product-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.inventory-dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #0F1111 !important;
  font-size: 0.8rem !important;
  width: fit-content;
  display: flex;
  align-self: center;
}

.table-row-name {
  word-break: break-word;
  width: 10%;
}

.table-row-description {
  word-break: break-word;
}

.table-row-date {
  width: 8%
}

.table-row-discount, .table-row-quantity, .table-row-price, .table-row-id {
  width: 8%
}

.product-add-confirmation {
  font-size: 0.85rem !important;
}
    
.sell-on-amazin {
  padding: 5rem 0;
}

.sell-on-amazin-title {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 2rem
}

.sell-on-amazin-description {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.sell-on-amazin-button {
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #f90;
}

.sell-on-amazin-button:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  background-color: #f90;
}

.tab-link {
  color: #0F1111;
}

@media screen and (max-width: 768px) {
  .tab-link {
    font-size: small;
  }

  .add-product-form {
    width: fit-content;
  }

  .sell-on-amazin-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem
  }

  .sell-on-amazin-description {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .sell-on-amazin-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
  }

  .sell-on-amazin {
    padding: 2rem;
  }
}