.inventory-table, .orders-table {
  font-size: 0.85rem !important;
  background-color: #fff;
}

.add-product-form {
 font-size: 0.85rem !important;
}

.add-product-form-group {
  margin-bottom: 1rem;
}
.inventory-product-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.inventory-dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #0F1111 !important;
  font-size: 0.8rem !important;
  width: fit-content;
  display: flex;
  align-self: center;
}

.table-row-name {
  word-break: break-word;
  width: 10%;
}

.table-row-description {
  word-break: break-word;
}

.table-row-date {
  width: 8%
}

.table-row-discount, .table-row-quantity, .table-row-price, .table-row-id {
  width: 8%
}

.product-add-confirmation {
  font-size: 0.85rem !important;
}
    

