.App {
  text-align: left;
  font-family: 'Ubuntu', sans-serif !important;
  margin-top: 10rem !important;
  margin-bottom: 50px !important;
}

.pointer-cursor {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .App {
    margin-top: 13rem !important;
  }
}